body {
    font-family: 'Jura', sans-serif;
    background-color: #EDEDEA;

}

.all-recipes {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--largeGap);
    justify-content: space-around;

}

.Whole-site {
    display: flex;

}

.filter>label:first-child::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #222;

    transform: translateY(-50%);
    transition: transform 0.2s ease;
}

/* Main filter container */
.filters {
    width: 100%;
    max-width: 500px;
    border: 2px solid #222;
    font-family: jura;
}

/* Each filter section */
.filter {
    border-bottom: 3px solid #222;
    padding: 0;
}

.filter>label:first-child {
    cursor: pointer;
    user-select: none;
}

/* Closed state */
.filter.collapsed>label:first-child::after {
    transform: translateY(-50%) rotate(180deg);
}

/* Hide options when collapsed */
.filter.collapsed label:not(:first-child) {
    display: none;
}

.filter:last-child {
    border-bottom: none;
}

/* Section heading */
.filter>label:first-child {
    display: block;
    padding: 18px 38px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

/* Options */
.filter label:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 45px;
    font-size: 18px;
    cursor: pointer;
}

/* Checkboxes */
.filter input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 25px;
    height: 25px;

    border: 2px solid #222;
    border-radius: 1px;

    display: grid;
    place-content: center;

    cursor: pointer;
}

/* Checkmark */
.filter input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 10px;

    border-left: 5px solid #222;
    border-bottom: 5px solid #222;

    transform: rotate(-45deg) scale(0);
    transition: transform 0.1s ease;
}

/* Checked state */
.filter input[type="checkbox"]:checked::before {
    transform: rotate(-45deg) scale(0.5);
}


aside {
    max-width: 500px;
    background: var(--backgroundColour);
    border-right: 1px solid var(--backgroundColour);
    padding: 20px;
    height: auto;
    position: sticky;
    top: 10px;
}

.Recipe-card-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.time-container {
    display: flex;
    align-items: center;
    margin-block: 10px;
    height: 20px;
}

.Recipe-card {
    background-color: #13224A;
    height: 320px;
    width: 270px;
    margin: 16px 16px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    font-size: 10px;
    box-shadow: 0 6px 6px #000;
}

.Recipe-card-icon-cook {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.Recipe-chef-info {
    display: flex;
    align-items: center;
}

span {
    display: block;
    height: 1px;
    background-color: #EDEDEA;

}

.Recipe-card-info {
    padding: 16px;
}

.Recipe-card-img {
    width: 100%;
    height: 130px;
}

.Recipe-h1-card {
    margin: 0px;
    font-size: 20px;
    color: #EDEDEA;
}

.Recipe-h2-card {
    margin-block: 4px;
    font-size: 18px;
    color: #EDEDEA;
    font-weight: normal;
}

.Recipe-p-card {
    font-size: 16px;
    color: #EDEDEA;
    margin-block: 4px;
}

.Recipe-card-buttons {
    display: flex;
    justify-content: space-between;
}

.Recipe-button-card2 {
    background-color: #EDEDEA;
    display: flex;
    color: #13224A;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    font-weight: 500;
    padding-bottom: 25px;
}


.Recipe-button-card1 {
    display: flex;
    background-color: #13224A;
    color: #EDEDEA;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;

}

.Recipe-button-card2:hover {
    background-color: #EDEDEA;
    border-color: #13224A 1px solid;
    color: #13224A;

}